.cabecera {
    background:     silver;
    color:          black;
}

.cuerpo {
    background:     white;
    color:          black;
}

.selectores {
    background:     silver;
    color:          white;
}

.principal {
    width:94%;
    background: yellow;
    margin-left: 3%;
    margin-right: 3%;
}

.pie {
    background:     silver;
    color: black;
    text-align: center;
}

.filtro {
    margin-top:5px;
    margin-bottom:5px;
}

.table1{
    background-color: silver;
    margin-right: 1%;
    margin-top: 1%;
    float: left;
    width: 79%;
}
#contenedor1 {
    float: right; 
    background: transparent; 
    width: 20%; 
    margin-top: 1%;
    text-align: center; 
    margin-bottom: 1%;
}
#img1{
    margin-bottom: 5%;
}

.tr1 :hover {
    background-color: white;
}